@import "tailwindcss";

/* custom variant for manual toggling */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* custom font-family */
  --font-main: var(--font-satoshi);
  --font-accent: var(--font-avantGarde);
}

@theme {
  /* Custom color palette */
  --color-brand-blue: #2204ba;
  --color-brand-orange: #f0493a;
  --color-brand-yellow: #ffbf00;
}
